@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  font-family: "Quicksand", serif;
  background-image: url("./images/willow_background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  background-color: #b7e4c7;
}

.header__nav-tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 1rem 1rem 0 1rem;
}

.header__nav-tab {
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem;
  cursor: pointer;
  font-family: inherit;
  background-color: inherit;
}

.header__nav-tab--selected {
  background-color: #40916c;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 70rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #b7e4c7;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: #40916c;
  border: 0.5rem solid #6c584c;
  border-radius: 0.5rem 3rem 0.5rem 3rem;
}

.card__title {
  align-self: center;
  color: #d8f3dc;
}

.card__title--large {
  font-size: 3rem;
}

.card__title--medium {
  font-size: 2rem;
}

.card__title--small {
  font-size: 1.5rem;
}

.card__paragraph,
.card__link {
  font-size: 1.5rem;
  max-width: 55ch;
  color: #d8f3dc;
}

.food-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.food-images img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.card__review {
  font-style: italic;
}

.card__attribution {
  font-weight: bold;
}

.menu-item {
  display: grid;
  grid-template: auto auto / minmax(0, 30rem) auto;
  grid-template-areas:
    "name-price image"
    "description image";
  align-items: center;
  column-gap: 1rem;
}

.menu-item__name-price {
  display: flex;
  gap: 2rem;
  grid-area: name-price;
}

.menu-item__description {
  grid-area: description;
  align-self: start;
}

.menu-item__image {
  grid-area: image;
  width: 100%;
  max-width: 25rem;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.card__info-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  align-items: center;
}

footer {
  flex-shrink: 0;
  width: 100%;
  height: 3rem;
  margin-top: auto;
  background-color: #b7e4c7;
}